<p id="notice"><%= notice %></p>

<h1>YUPICS</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= 'Comment' %></th>
      <th><%= 'Date' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.comment %></td>
        <td><%= photo.date %></td>
        <!--td><%= link_to 'Show', photo %></td-->
        <!--td><%= link_to 'Edit', edit_photo_path(photo) %></td-->
        <td>
          <div class="thumbnail">
            <%= link_to image_tag(photo.image.thumb.url), photo %>
          </div>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_photo_path(photo), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      photo_path(photo),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_photo_path,
            :class => 'btn btn-primary' %>
