<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @photo.comment %>
</p>

<p>
  <strong>Date:</strong>
  <%= @photo.date %>
</p>

<p>
  <strong>Image:</strong>
  <% if @photo.image? %>
    <div class="thumbnail">
      <%= image_tag @photo.image.thumb.url %>
      <%= image_tag @photo.image.url %>
    </div>
  <% end %>
</p>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
